body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    transition: background-color 1s, color 1s;
}

#theme-toggle {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 1s, color 1s;
}

#theme-toggle:hover {
    background-color: #555;
}

#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#content h1 {
    color: #333;
}

#content p {
    color: #666;
}

/* Dark Mode Styles */
body.dark {
    background-color: #1a202c;
    color: #ffffff;
    transition: background-color 1s, color 1s;
}

body.dark #theme-toggle {
    background-color: #555;
}

body.dark #content h1 {
    color: #ffffff;
}

body.dark #content p {
    color: #cccccc;
}